.ipynb_checkpoints
__pycache__
*.pyc
.DS_Store
.idea/
*.swp
*.pt
results/
 dialogTaxonomy.key
lmi_pmi_explanation.tar.gz
lmi_pmi_question.tar.gz
data/analyses/lmi_pmi_explanation
data/analyses/lmi_pmi_question
data/analyses/lmi_pmi_response
private_code
private_data
data/gold/gold_cv_dev_data/CongressionalHearing
data/gold/gold_cv_dev_data
data/gold/gold_full_data
results_final
data/batched/batched_hits_csv
